:root {
  --primary-color: #649fa1;
  --primary-variant-color: #c2eced;
  --primary-contrast-color: #fff;
  --secondary-color: #edd3c2;
  --secondary-variant-color: #fff2eb;
  --secondary-contrast-color: #333;
}
* {
  margin: 0;
  padding: 0;
}
body {
  padding: 0 16px;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: var(--secondary-variant-color);
}
@media screen and (min-width: 834px) {
  body {
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  body {
    padding: 0 80px;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}
.header__logo {
  flex: 0 1 100px;
  fill: inherit;
}
.header__icon-wrapper {
  display: flex;
  align-items: center;
}
.header__icon {
  width: 24px;
  height: 24px;
  background: var(--primary-color);
  fill: var(--primary-contrast-color);
  padding: 4px;
  border-radius: 4px;
  margin: 0 4px;
  display: flex;
  justify-content: center;
}
.header__icon:last-child {
  -webkit-margin-end: 0;
  margin-inline-end: 0;
}
.header__burger-btn {
  cursor: pointer;
}
@media screen and (min-width: 650px) {
  .header__burger-btn {
    display: none;
  }
}
.navigation {
  position: fixed;
  min-width: 180px;
  text-align: right;
  right: 16px;
  top: 50px;
  transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out;
  background: var(--secondary-color);
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  border-radius: 8px;
}
.navigation--open {
  visibility: visible;
  opacity: 1;
}
@media screen and (min-width: 650px) {
  .navigation {
    position: static;
    width: auto;
    visibility: visible;
    opacity: 1;
  }
}
.navigation__wrapper {
  display: flex;
  flex-direction: column;
  list-style: none;
}
@media screen and (min-width: 650px) {
  .navigation__wrapper {
    flex-direction: row;
  }
}
.navigation__item {
  padding: 12px 16px;
  color: var(--secondary-contrast-color);
}
.navigation__item--active,
.navigation__item:hover > a {
  color: var(--primary-color);
}
.navigation__item > a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  transition: color 0.2s linear;
}
.content {
  -webkit-margin-before: 32px;
  margin-block-start: 32px;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  align-items: center;
}
@media screen and (min-width: 880px) {
  .content {
    flex: 1 0 auto;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 56px;
    margin-block-end: 56px;
  }
}
.content__headline {
  font-size: clamp(2.8rem, 6vw, 4.5rem);
  padding: 8px 16px;
  border-radius: 8px;
  background: var(--secondary-color);
  color: var(--secondary-contrast-color);
  transform: translateY(-130px);
  position: relative;
  z-index: 1;
  order: 2;
}
@media screen and (min-width: 880px) {
  .content__headline {
    transform: translateY(0);
    background: rgba(0, 0, 0, 0);
    order: 1;
  }
}
.content__voxel {
  margin: 0 auto;
  order: 1;
}
@media screen and (min-width: 880px) {
  .content__voxel {
    order: 2;
  }
}
.content--blog {
  grid-template-columns: minmax(320px, 680px);
  justify-content: center;
}
.content--blog .blog-entry {
  -webkit-margin-after: 24px;
  margin-block-end: 24px;
}
.content--blog .blog-entry:first-child {
  -webkit-margin-before: 40px;
  margin-block-start: 40px;
}
.content--blog .blog-entry:last-child {
  -webkit-margin-after: 40px;
  margin-block-end: 40px;
}
.content--blog .blog-entry__title {
  -webkit-margin-after: 4px;
  margin-block-end: 4px;
}
.content--blog .blog-entry__info {
  display: block;
  -webkit-margin-after: 8px;
  margin-block-end: 8px;
  color: #757575;
}
.content--home {
  flex: 1 0 auto;
}
.footer {
  flex: 1 0 auto;
  display: flex;
  align-items: flex-end;
  -webkit-padding-after: 8px;
  padding-block-end: 8px;
}
.footer__text {
  font-weight: 600;
}
