// global color variables
:root {
  --primary-color: #649fa1;
  --primary-variant-color: #c2eced;
  --primary-contrast-color: #fff;

  --secondary-color: #edd3c2;
  --secondary-variant-color: #fff2eb;
  --secondary-contrast-color: #333;
}

// remove all user agent default spacing
* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0 16px;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  // TODO: change default font later
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: var(--secondary-variant-color);

  @media screen and (min-width: 834px) {
    padding: 0 32px;
  }

  @media screen and (min-width: 1440px) {
    padding: 0 80px;
  }
}

// header and navigation
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;

  &__logo {
    flex: 0 1 100px;
    fill: inherit;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 24px;
    height: 24px;
    background: var(--primary-color);
    fill: var(--primary-contrast-color);
    padding: 4px;
    border-radius: 4px;
    margin: 0 4px;
    display: flex;
    justify-content: center;

    &:last-child {
      margin-inline-end: 0;
    }
  }

  &__burger-btn {
    cursor: pointer;

    @media screen and (min-width: 650px) {
      display: none;
    }
  }
}

.navigation {
  position: fixed;
  min-width: 180px;
  text-align: right;
  right: 16px;
  top: 50px;
  transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out;
  background: var(--secondary-color);
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  border-radius: 8px;

  &--open {
    visibility: visible;
    opacity: 1;
  }

  @media screen and (min-width: 650px) {
    // TODO: maybe there is a better solution with viewport classes
    position: static;
    width: auto;
    visibility: visible;
    opacity: 1;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    list-style: none;

    @media screen and (min-width: 650px) {
      flex-direction: row;
    }
  }

  &__item {
    padding: 12px 16px;
    color: var(--secondary-contrast-color);
  }

  &__item--active,
  &__item:hover > a {
    color: var(--primary-color);
  }

  &__item > a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    transition: color 0.2s linear;
  }
}

.content {
  margin-block-start: 32px;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  align-items: center;

  &__headline {
    font-size: clamp(2.8rem, 6vw, 4.5rem);
    padding: 8px 16px;
    border-radius: 8px;
    background: var(--secondary-color);
    color: var(--secondary-contrast-color);
    transform: translateY(-130px);
    position: relative;
    z-index: 1;
    order: 2;

    @media screen and (min-width: 880px) {
      transform: translateY(0);
      background: transparent;
      order: 1;
    }
  }

  &__voxel {
    margin: 0 auto;
    order: 1;

    @media screen and (min-width: 880px) {
      order: 2;
    }
  }

  .project-item {
    cursor: pointer;

    &-popup {
      box-sizing: border-box;
      border-radius: 8px;
      visibility: hidden;
      opacity: 0;
      position: fixed;
      min-height: 250px;
      max-width: 650px;
      width: 95%;
      left: 50%;
      top: 45%;
      transform: translate(-50%, -50%);
      margin: auto;
      background: var(--secondary-color);
      z-index: 3;
      transition: top 0.25s linear, visibility 0.25s ease-in-out, opacity 0.25s ease-in-out;
      padding: 16px 32px;
      display: flex;
      flex-direction: column;
      cursor: initial;

      &--visible {
        visibility: visible;
        opacity: 1;
        top: 50%;

        ~ h2::after {
          content: '';
          height: 100vh;
          width: 100vw;
          background: #000;
          opacity: 0.7;
          display: block;
          position: fixed;
          left: 0;
          top: 0;
          z-index: 2;
        }
      }

      &__headline {
        margin-block-end: 8px;
      }

      &__button {
        border: none;
        font-size: 16px;
        cursor: pointer;
        align-self: flex-end;
        padding: 8px 16px;
        color: #fff;
        border-radius: 4px;
        background: var(--primary-color);
      }

      &__text {
        flex: 1 0 auto;
      }
    }
  }

  .blog-entry,
  .project-item {
    &:last-child {
      margin-block-end: 40px;
    }
  }

  &--home {
    flex: 1 0 auto;
  }

  &--blog {
    grid-template-columns: minmax(320px, 680px);
    justify-content: center;

    .blog-entry {
      margin-block-end: 24px;

      &__title {
        margin-block-end: 4px;
      }

      &__info {
        display: block;
        margin-block-end: 8px;
        color: #757575;
      }
    }
  }

  &--projects {
    align-content: flex-start;
    gap: 32px;
    .project-item {
      justify-self: center;

      &__image {
        height: 190px;
        max-width: 100%;
        border-radius: 8px;
        box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.18);
      }

      &__headline {
        margin: 4px 0;
      }

      @media screen and (min-width: 1085px) {
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

.footer {
  display: flex;
  align-items: flex-end;
  padding-block-end: 8px;
  flex: 1 0 auto;

  &__text {
    font-weight: 600;
  }
}
